* {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  color: #0c5d69;
}

main {
  min-height: 100vh; /*Takes the height of the screen*/
  background: linear-gradient(to right top, #729ba3, #729ba3);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*~~~~~~~~~~Three main boxes ~~~~~~~~~~~~~~~*/
.area {
  margin: 0 10px;
  min-height: 85vh;
  background: linear-gradient(to right bottom,
    rgba(90, 176, 161, 0.5),
    rgba(197, 224, 227, 0.5));
}

.left,
.center,
.right,
.box,
h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box:hover {
  cursor: pointer;
}

.left {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  flex: 1;
}

.right {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  flex: 1;
}

.center {
  flex: 3;
  width: 300px;
}

img {
  margin-top: 15%;
  margin-bottom: 15%;
  border-radius: 50%;
  transition: transform .5s ease;
}

.img-border {
  border-width: thick;
  border-color: green;
  border-style: double dotted;
  box-shadow: 0 0 0 5px #115D69;
  transform: scale(1.2);
}

img:hover {
  cursor: grabbing;
}

.score:hover,
p:hover,
.player1:hover,
.player2:hover,
.message:hover,
.players-turn:hover,
.game-name:hover {
  cursor: default;
}

.game-name {
  background: linear-gradient(to right top, #729ba3, #729ba3);
}

.playersTurn {
  margin-top: 15px;
}

.score {
  font-size: 150px;
  flex-wrap: wrap;
}

p,
.playersTurn {
  font-size: 50px;
}

.restart-btn {
  background: transparent;
  border: 3px ridge #507872;
  font-size: 20px;
  min-width: 15%;
  margin-right: 5px;
  margin-top: 25px;
}

.restart-btn:hover {
  cursor: pointer;
  background: #77bfa2;
  color: #cfe3e1;
}

.divider {
  height: 5px;
  width: 90%;
  background-color: #353567;
  border: 0;
  margin-top: 10px;
}

/*~~~~~~~~~~Tic Tac Toe board~~~~~~~~~~~~~~~*/
.message,
form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: #d5e0df;
  font-size: 9rem;
  z-index: 2;
}

.message.display {
  display: flex;
}

form {
  flex-direction: column;
  font-size: 5rem;
  z-index: 3;
}

.input-form.display {
  display: flex;
}

input {
  width: 25%;
  height: 5%;
  border-radius: 0.5rem;
}

.submit {
  width: 10%;
  font-size: 1.6rem;
}

.fail-message {
  background: #a33434;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
}

.wrapper{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
}

.box {
  height: 150px;
  width: 30%;
  font-size: 100px;
}

.X::before {
  font-family: "Stick", monospace;
  content: 'X';
}

.O::before {
  font-family: "Stick", monospace;
  content: "O";
}

.box:hover {
  background: #b4dbdb;
}

.one,
.two,
.three,
.four,
.five,
.six {
  border-bottom: 10px ridge #507872;
}

.two,
.three,
.five,
.six,
.eight,
.nine {
  border-left: 10px ridge #507872;
}
