/* */

*{
  margin : 0;
  padding : 0;
  font-family: "Stick", monospace;
}
main{
  min-height: 95vh; /*Takes the height of the screen*/
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*~~~~~~~~~~Three main boxes ~~~~~~~~~~~~~~~*/
.area{
  margin: 5px;
  min-height: 85vh;
  background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255,255,255, 0.3));
}
.left,
.center,
.right,
.box,
h1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left{
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  flex : 1;
  /* border: 5px double green; */    /*Use this on JS during players turn*/
}
.right{
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  flex:1;
}
.center{
  flex:3;
  width: 300px;
}
.left > img,
.right > img{
  margin-top: 5%;
  border-radius: 50%;
  /* border-width: thick;
  border-color: green;
  border-style: double dotted;*/             /*Use this on JS during players turn*/
}
.game-name{
  background: linear-gradient(#65dfc9, #6cdbeb);
}
.playersTurn{
  margin-top: 15px;
}
.score{
  font-size: 150px;
  flex-wrap: wrap;
}
p,.playersTurn{
  font-size: 50px;
}
.restart-btn{
  font-size: 35px;
  min-width: 20%;
  background: transparent;
  border:  5px groove gray;
  align-self: flex-end;
  margin-right: 5px;
  margin-top: 5px;
}
.divider {
  height: 5px;
  width: 90%;
  background-color: #353567;
  border: none;
  margin-top: 10px;
}
/*~~~~~~~~~~Tic Tac Toe board~~~~~~~~~~~~~~~*/
.wrapper{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
}
.box {
  height: 150px;
  width: 30%;
  font-size: 100px;
}
.box:hover{
  background: gray;
}
.zero,.one,.two,.three,.four,.five{
  border-bottom: 10px ridge #507872;
}
.one,.two,.four,.five,.seven,.eight{
  border-left: 10px ridge #507872;
}
